/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('izitoast/dist/css/iziToast.min.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 400px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #030303;
  border-radius: 4px;
}

.search-btn {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #305fd4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

.search-btn:hover {
  background-color: rgb(113, 113, 232);
}

.load-more-btn{
  display:block;
font-size: 14px;
  padding: 10px 20px;
  background-color: #305fd4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.load-more-btn:hover{
  background-color: rgb(113, 113, 232);
}

.load-more-btn.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-card {
  width: calc((100% - 40px) / 5);
}

.gallery-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.info {
  display: flex;
}

.info p {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  left: 50%;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.loader.is-hidden {
  display: none;
}